{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catreclamation</h1>

    <table>
        <tbody>
            <tr>
                <th>Idcategorie</th>
                <td>{{ catReclamation.idCategorie }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ catReclamation.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catreclamation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catreclamation_edit', { 'idCategorie': catReclamation.idCategorie }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
